.registration {
  width: 40%;
  max-width: 358px;
  margin: 60px auto 80px;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.registration__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.registration__submit {
  background: #ffffff;
  border-radius: 2px;
  text-align: center;
  margin-top: 0;
  color: #000000;
  margin-bottom: 15px;
}
.registration__submit:hover {
  opacity: 0.85;
}

.form__input_type_register {
  color: #ffffff;
  background-color: black;
  border-bottom: 2px solid #cccccc;
}

.form__email {
  margin-bottom: 30px;
}
.form__password {
  margin-bottom: 216px;
}
.registration__redirect-text {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin: 0;
  text-align: center;
  margin-bottom: 84px;
  color: #ffffff;
}

.registration__redirect-link {
  text-decoration: none;
  color: #fff;
}

.login {
  width: 40%;
  max-width: 358px;
  margin: 60px auto 80px;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.login__submit {
  background: #ffffff;
  border-radius: 2px;
  text-align: center;
  margin-top: 0;
  color: #000000;
  margin-bottom: 116px;
}
.login__submit:hover {
  opacity: 0.85;
}

.form__input_type_login {
  color: #ffffff;
  background-color: black;
  border-bottom: 2px solid #cccccc;
}

.form__email {
  margin-bottom: 30px;
}
.form__password {
  margin-bottom: 216px;
}
.popup__registration-image-status {
  width: 120px;
  height: 120px;
  margin: 0 auto 32px;
}
.popup__container_type_tooltip {
  padding: 60px 36px;
}
.popup__title_type_tooltip {
  text-align: center;
  margin: 0 auto;
}

.header__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;

  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-align: right;
}

.header__email {
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  margin-right: 24px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;

  font-size: 18px;
  line-height: 22px;
}

.header__link {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;

  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  /* identical to box height, or 122% */

  /* text-align: right; */

  color: #fff;
  text-decoration: none;
}
.header__link_logged-in {
  color: #a9a9a9;
}
