.registration__redirect-text {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  text-align: center;
  margin-bottom: 84px;
  color: #ffffff;
}
